# Magento Crontab File; only need to run normal magento cron since this is a split deploy install
* * * * * /usr/bin/php /var/www/localhost/htdocs/bin/magento cron:run | grep -v "Ran jobs by schedule" >> /var/www/localhost/htdocs/var/log/magento.cron.log
# * * * * * /usr/local/bin/php /var/www/html/update/cron.php >> /var/www/html/var/log/update.cron.log
# * * * * * /usr/local/bin/php /var/www/html/bin/magento setup:cron:run >> /var/www/html/var/log/setup.cron.log
